
CleanCodeTest/.idea/codeStyles/Project.xml
CleanCodeTest/.idea/.name
CleanCodeTest/.idea/gradle.xml
CleanCodeTest/.idea/gradle.xml
CleanCodeTest/.idea/vcs.xml
CleanCodeTest/.idea/gradle.xml
CleanCodeTest/.idea/gradle.xml
CleanCodeTest/.idea/vcs.xml
