<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.epam.cleancodetest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.epam.themes.collectionviews.ImageLoaderActivity"
            android:label="@string/title_activity_image_loader" />
        <activity
            android:name="com.epam.LessonsActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.epam.themes.uicomponents.UIComponentsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.epam.themes.compoundview.CompoundViewActivity" />
        <activity android:name="com.epam.themes.androidcomponents.AndroidComponentsActivity" />
        <activity
            android:name="com.epam.themes.androidcomponents.activities.AActivity"
            android:launchMode="singleInstance" />
        <activity android:name="com.epam.themes.androidcomponents.activities.BActivity" />
        <activity android:name="com.epam.themes.androidcomponents.activities.CActivity" />
        <activity android:name="com.epam.themes.collectionviews.CollectionViewsActivity" />
        <activity android:name="com.epam.themes.collectionviews.StudentsActivity" />

        <service android:name="com.epam.themes.androidcomponents.SimpleService" />

        <receiver android:name="com.epam.themes.androidcomponents.SimpleBroadcastReceiver">
            <intent-filter>
                <action android:name="com.epam.CUSTOM_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.epam.themes.LoaderActivity"
            android:exported="true" />
    </application>

</manifest>